---
---
<div class="mt-12 mb-8 text-center">
  <h2 class="text-[#2f2f2f] text-xl font-pixel animate-pulse">
    <slot></slot>
  </h2>
</div>

<style>
  .font-pixel {
    font-family: 'Press Start 2P', cursive;
  }
</style>
